<div class="container-fluid">
	<div class="row">
		<div class="home" ng-show="!gameLaunched">
			<input type="text" name="userName" ng-model="userName">
			<p class="whiteMessage">{{userName | userNameFilter}}</p>
			<button ng-click="registerPlayer(userName);gameLaunched = true"
				ng-init="playerId = 0;gameLaunched=false"
				ng-disabled="!(userName.length > 3)" id="NewGameInput"
				class="NewGameInput" style="margin-left: 250px; margin-top: 50px">
				New game</button>
		</div>
		<div class="Board" ng-show="gameLaunched">
			<p class="whiteMessage">
			Hello {{userName}} ! Your id is {{playerId}}
			</p>
			<table id="damier" class="damier">
					<tr id ="{{'l' + row}}" ng-repeat="row in [1,2,3,4,5,6,7,8]">
						<th id="{{row + '' + col}}" class="{{(row + col) % 2 ? 'color2' : 'color1'}}" ng-repeat="col in [1,2,3,4,5,6,7,8]"></th>
					</tr>
			</table>
		</div>
	</div>
</div>
