<div class="container-fluid">
	<div class="row">
		<div class="Board">
			<p class="whiteMessage">
			Your id is {{playerId}}, Your game is {{gameId}}
			</p>
			<table id="damier" class="damier">
					<tr id ="{{'l' + row}}" ng-repeat="row in [1,2,3,4,5,6,7,8]">
						<td id="{{row + '' + col}}"
							ng-click="selectTile(row + '' + col)"
							class="{{(row + col) % 2 ? 'color2' : 'color1'}}" 
							ng-repeat="col in [1,2,3,4,5,6,7,8]">
						</td>
					</tr>
			</table>
		</div>
	</div>
</div>
