<div class="container">


	<form class="form-inline well" style="margin-top:50px;">	

<!-- btn fin partie -->				
		<div class="row">
			<div class="col-lg-offset-3 col-lg-2">
				<button type="button" ng-show="status == 'finished'" class="btn btn-lg" style="margin-top:50px;" ng-class="playerScore > 29 ? 'btn-success' : 'btn-danger'" ng-disabled="true">
					<p ng-show="playerScore > 29"> You win !</p>
					<p ng-show="opponentScore > 29">You loose !</p>
				</button>
			</div>	
		</div>	
		
<!-- btn status -->		
		<div class="row">
			<div class="col-lg-offset-3 col-lg-2">
				<button type="button" ng-show="status == 'running'" class="btn btn-lg" style="margin-top:50px;" ng-class="{place: 'btn-success', move: 'btn-success', wait: 'btn-warning'}[getActionText()]" ng-disabled="true">
					<img src="{{opponentImage}}" style="width:30px;hight:30px;">
					{{getActionText() | textActionFilter}}
				</button>
			</div>
			
			<!-- Chrono -->		
			<div class="container col-lg-offset-2 col-lg-5" style="margin-top:50px;" >
				<div class="timer">
					<div class="cell">
						<div class="numbers tenhour moveten">0 1 2 3 4 5 6 7 8 9</div>
					</div>
					<div class="cell">
						<div class="numbers hour moveten">0 1 2 3 4 5 6 7 8 9</div>
					</div>
					<div class="cell divider"><div class="numbers">:</div></div>
					<div class="cell">
						<div class="numbers tenminute movesix">0 1 2 3 4 5 6</div>
					</div>
					<div class="cell">
						<div class="numbers minute moveten">0 1 2 3 4 5 6 7 8 9</div>
					</div>
					<div class="cell divider"><div class="numbers">:</div></div>
					<div class="cell">
						<div class="numbers tensecond movesix">0 1 2 3 4 5 6</div>
					</div>
					<div class="cell">
						<div class="numbers second moveten">0 1 2 3 4 5 6 7 8 9</div>
					</div>
					<div class="cell divider"><div class="numbers">:</div></div>
					<div class="cell">
						<div class="numbers milisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
					</div>
					<div class="cell">
						<div class="numbers tenmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
					</div>
					<div class="cell">
						<div class="numbers hundredmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
					</div>
				</div>
			</div>
				
		</div>	
	
		

		
		<div class="row">
		
<!-- Damier -->		
			<div class="col-lg-offset-1 col-lg-6">
				<table id="damier" class="damier">
						<tr id ="{{'l' + row}}" ng-repeat="row in [0,1,2,3,4,5,6,7]">
							<td id="{{row + '' + col}}"
								ng-click="selectTile(row + '' + col)"
								class="{{(row + col) % 2 ? 'WHITE' : 'BLACK'}}" 
								ng-repeat="col in [0,1,2,3,4,5,6,7]">
							</td>
						</tr>
				</table>
			</div>
			
		
			<div class="col-lg-offset-1 col-lg-4">
				<div>
<!-- Tscore -->		
	                <table class="table table-bordered table-hover tscore">
	                    <thead>
		                    <tr>
		                        <th><center>Player</center></th>
		                        <th><center>Score</center></th>
		                    </tr>
		               	</thead>
		                <tboddy>
		                    <tr ng-class="playerScore > 29 ? 'success' : ''">
		                        <td><p><img src="{{opponentImage}}">{{playerName}}</p></td>
		                        <td><center>{{playerScore}}</center></td>
		                    </tr> 
		                    <tr ng-class="opponentScore >29 ? 'success' : ''">
		                        <td><p><img src="{{playerImage}}">{{opponentName}}</p></td>
		                        <td><center>{{opponentScore}}</center></td>
		                    </tr>
		               	</tboddy>
	                </table>
		     	</div>
		     	<div style="margin-top:50px;">
		     		<div class="progress progress-bar-warning">
					   <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" 
					      aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
					   </div>
					</div>
					<button type="button" class="btn btn-lg btn-success">
						1 
					</button>
					<button type="button"  class="btn btn-lg btn-success">
						2 
					</button>
					<button type="button" class="btn btn-lg btn-success">
						3 
					</button>
		     	</div>
	         </div>
	   	</div>
	</form>



		
</div>