<div class="container">
	
	<form class="form-inline well" style="margin-top:50px;">	
		<div class="row">
			<div class="col-lg-offset-3 col-lg-2">
				<button type="button" ng-show="status == 'running'" class="btn btn-lg" style="margin-top:50px;" ng-class="{place: 'btn-success', move: 'btn-success', wait: 'btn-warning'}[getActionText()]" ng-disabled="true">
					{{getActionText() | textActionFilter}}
				</button>
			</div>	
		</div>	
		
		<div class="row">
			<div class="col-lg-offset-3 col-lg-2">
				<button type="button" ng-show="status == 'finished'" class="btn btn-lg" style="margin-top:50px;" ng-class="playerScore > 29 ? 'btn-success' : 'btn-danger'" ng-disabled="true">
					<p ng-show="playerScore > 29"> You win !</p>
					<p ng-show="opponentScore > 29">You loose !</p>
				</button>
			</div>	
		</div>	
		
		<div class="row">
		
			<div class="col-lg-offset-1 col-lg-6">
				<table id="damier" class="damier">
						<tr id ="{{'l' + row}}" ng-repeat="row in [0,1,2,3,4,5,6,7]">
							<td id="{{row + '' + col}}"
								ng-click="selectTile(row + '' + col)"
								class="{{(row + col) % 2 ? 'WHITE' : 'BLACK'}}" 
								ng-repeat="col in [0,1,2,3,4,5,6,7]">
							</td>
						</tr>
				</table>
			</div>
		
	
		
			<div class="col-lg-offset-1 col-lg-4">
				<div>
	                <table class="table table-bordered table-hover tscore">
	                    <thead>
		                    <tr>
		                        <th><center>Player</center></th>
		                        <th><center>Score</center></th>
		                    </tr>
		               	</thead>
		                <tboddy>
		                    <tr ng-class="playerScore > 29 ? 'success' : ''">
		                        <td><p><img src="{{opponentImage}}">{{playerName}}</p></td>
		                        <td><center>{{playerScore}}</center></td>
		                    </tr> 
		                    <tr ng-class="opponentScore >29 ? 'success' : ''">
		                        <td><p><img src="{{playerImage}}">{{opponentName}}</p></td>
		                        <td><center>{{opponentScore}}</center></td>
		                    </tr>
		               	</tboddy>
	                </table>
		     	</div>
	         </div>
	   	</div>
	</form>



		
</div>