<div class="container">


	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			  	<form class="form-inline well" style="margin-top:50px;">
			  		
			  		<h3 class="text-center">Chronowars, the rules !</h3><br />
			  		
			  		<dl class="dl-horizontal">				
						<dt>Placements</dt><dd>You and your opponent each will place <em>5 token</em>, only on your own color.</dd>
						<dt>How to move</dt><dd>You can then move your tokens, still on your own color, either by <em>one tile diagonally</em>, or <em>two tiles by jumping over an opponent token</em>.</dd>
						<dt>The way to win</dt><dd>Use your and your opponent tokens to <em>form shapes</em> in order to earn points, <em>reach 15 points to win the game</em>. The player who completes the shape earns the points corresponding to it</dd>
						<dt>One shape by turn</dt><dd>A single tile cannot be use to be part of two shapes in a single turn (e.g, ooo being a shape, a player forming oooo will only complete one shape)</dd>
					</dl>
					<p>Here are the different shapes, rotations can be made (C, i, I, O):</p>
					<img src="img/faq.png"><br /><br />
					<p>Have fun !</p>
				</form>
		</div>	
	</div>				
</div>
			  