<div class="container">


	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			  	<form class="form-inline well" style="margin-top:50px;">
			  		<dl class="dl-horizontal">
						  <dt>Les pi&egrave;ces</dt><dd>5 pions chacun</dd>
						  <dt>Placement initial</dt><dd>Au d&eacute;but chaque joueur place ses pions tour par tour : le joueur blanc place le premier pion sur une case noir puis le joueur 2 place son premier pion sur une case blanche ainsi de suite jusqu'a ce que toutes les pi&egrave;ces soient plac&eacute;es.</dd>
						  	<dd>Les pions du joueur rouges ne peuvent pas aller sur des cases noires et inversement.</dd>
						  	<dd>Si une figure est form&eacute;e lors du placement des soldats les points sont comptabilis&eacute;s.</dd>
						  <dt>D&eacute;placements</dt><dd>En diagonale ou en sautant un soldat adverse. Exemple : le joueur rouge a un soldat positionn&eacute; en A1 et le noir en B1 ; dans ce cas le joueur rouge peut d&eacute;placer son soldat en B2 ou en C1.</dd>
						  <dt>But du jeu</dt><dd>Former des figures avec les pi&egrave;ces. Chaque figure rapporte un certain nombre de points. Le premier joueur qui atteint 20 points remporte la partie.</dd>
					</dl>
				</form>
		</div>	
	</div>				
</div>
			  