
	<div class="ribbon">
		<div class="ribbon-stitches-top">
		</div><strong class="ribbon-content">
			<p>{{userName | userNameFilter}}</p>
			</strong>
		<div class="ribbon-stitches-bottom"></div>
	</div>

	
	<div class="nameBox">
		<input type="text" name="userName" ng-model="userName">
		<button
			ng-model="startButton"
			ng-click="registerPlayer(userName);gameStatus=1"
			ng-init="playerId = 0;gameStatus=0"
			ng-disabled="(!(userName.length > 3)) || gameStatus == 1" id="NewGameInput"
			class="actionButton">
			{{gameStatus | gameStatusFilter}}
		</button>
	</div>

