

table.damier {
margin-top: 60px; 
 border: 2px #A4A4A4 solid;
 border-collapse: separate;
 -moz-border-radius: 20px;
 border-radius: 20px;
 -khtml-border-radius: 20px;
 -webkit-border-radius: 20px;
 box-shadow: 10px 10px 5px #888888;
 background-color:#A89C9C;
 border-spacing : 10px;
 width:530px;
 height:530px;
}

td.WHITE {
background-color: white;
-moz-border-radius: 20px;
border-radius: 20px;
-khtml-border-radius: 20px;
-webkit-border-radius: 20px;
width: 55px;
height: 55px;
padding: 0px;
}


td.BLACK {
background-color: black;
-moz-border-radius: 20px;
border-radius: 20px;
-khtml-border-radius: 20px;
-webkit-border-radius: 20px;
width: 55px;
height: 55px;
padding: 0px;
}

td.inShape {
background-color: #3581BC;
-moz-border-radius: 20px;
border-radius: 20px;
-khtml-border-radius: 20px;
-webkit-border-radius: 20px;
width: 55px;
height: 55px;
padding: 0px;
}

img.token 
{
width: 35;
height: 35px;
display: block;
margin-left: auto;
margin-right: auto;
}
img.token:hover 
{
width: 37px;
height: 37px;
display: block;
margin-left: auto;
margin-right: auto;
}

.tscore {
	margin-top: 150px; 
	}
.tscore img{
	width: 35;
	height: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	}


