html, body {min-height: 100%;}

body {
background: #010002;
background: linear-gradient(#010002, #A79DC9);
}

table {
 margin-left: 170px;
 margin-top: 50px;
 border: 1px #C2C2A3 solid;
 border-collapse: separate;
 -moz-border-radius: 20px;
 border-radius: 20px;
 -khtml-border-radius: 20px;
 -webkit-border-radius: 20px;
 background-color:#CECEF6;
 border-spacing : 5px;
}

td.WHITE {
background-color: #593767;

}

td.BLACK {
background-color: #403542;
}

td.inShape {
	background-color: #666;
}

td {
-moz-border-radius: 20px;
border-radius: 20px;
-khtml-border-radius: 20px;
-webkit-border-radius: 20px;
width: 50px;
height: 50px;
padding: 5px;
background-color: #D0E3FA;
}

td:hover {
	opacity: 0.4;
}

img.token:hover 
{
     opacity: 0.4;
}

.actionButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:90px;
	line-height:65px;
	width:110px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.actionButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.actionButton:active {
	position:relative;
	top:1px;
}
.actionButton:disabled {
	background-color:#AAAAAA;
}

.whiteMessage {
	color: white;
}