html, body {min-height: 100%;}

body {
background: white;
margin:0px 0px 80px 0px;padding:0px;
}


div.bandeau {
	width: 100%;
	padding: 0px;
	height: 50px;
	margin-top: 60px;
	background-color: #9CF2A3;
	color: grey;
	text-align:center;
	border: 1px solid #9F9F9F; border-left-width: 0; border-right-width: 0;
	}


table.damier {
 margin-left: 170px;
 margin-top: 50px;
 border: 2px #A4A4A4 solid;
 border-collapse: separate;
 -moz-border-radius: 20px;
 border-radius: 20px;
 -khtml-border-radius: 20px;
 -webkit-border-radius: 20px;
 box-shadow: 10px 10px 5px #888888;
 background-color:#A89C9C;
 border-spacing : 10px;
 width:530px;
 height:530px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

td.WHITE {
background-color: white;
-moz-border-radius: 20px;
border-radius: 20px;
-khtml-border-radius: 20px;
-webkit-border-radius: 20px;
width: 55px;
height: 55px;
padding: 0px;
}


td.BLACK {
background-color: black;
-moz-border-radius: 20px;
border-radius: 20px;
-khtml-border-radius: 20px;
-webkit-border-radius: 20px;
width: 55px;
height: 55px;
padding: 0px;
}

td.inShape {
background-color: #04B404;
-moz-border-radius: 20px;
border-radius: 20px;
-khtml-border-radius: 20px;
-webkit-border-radius: 20px;
width: 55px;
height: 55px;
padding: 0px;
}


img.token 
{
width: 40px;
height: 40px;
display: block;
margin-left: auto;
margin-right: auto;
}


img.token:hover 
{
width: 42px;
height: 42px;
display: block;
margin-left: auto;
margin-right: auto;
}

.actionButton {
background-color:#E0DADA;
padding: 15px;
margin-top: 100px;
margin-left: 20px ; 
color:black;
}

.actionButton:hover {
background-color:#A89C9C;
}

.actionButton:active {
}

.actionButton:disabled {
	background-color:#AAAAAA;
	color:grey;
}

input {
	border: 1px solid #A89C9C; 
    padding: 15px;
    background: #E0DADA;
    margin: 0 0 10px 0;
	
}

.tscore {
	margin:0px;padding:0px;
	width:300px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #8D8E8D;
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tscore table
{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.
tscore tr:hover td{
background-color: #3A3C3A;
}
.tscore td{
	vertical-align:middle;
	
	
	border:1px solid #8D8E8D;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:16px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.tscore tr:last-child td{
	border-width:0px 1px 0px 0px;
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
}
.tscore tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.tscore tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
	
}


.tscore tr:first-child td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #8D8E8D;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}
.tscore tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.tscore tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tscore tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

}
